html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #722620;
    font-weight: 900;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f2bc94 ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid #30110d;
    
}


.img-principal {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #f2bc94 ;
    border-right: 2px solid #30110d;
    border-left: 2px solid #30110d;
}

img {
    border-radius: 10px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    background-color: #f2bc94;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #30110d;
    border-right: 2px solid #30110d;
    border-left: 2px solid #30110d;
    color: #722620;
    font-weight: 800;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: left ;
    font-size: 23px;
    background-color: #f2bc94;
    padding-left: 20px;
    padding-top: 15px;
    border-top: 2px solid #30110d;
    border-right: 2px solid #30110d;
    border-left: 2px solid #30110d;
    color: #722620;
    font-weight: 800;
}

body {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: hsl(26, 78%, 76% ,0.9) ;
}

.texto-principal {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    padding-top: 13px;
    padding-bottom: 15px;
    background-color: #f2bc94 ;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #30110d;
    border-right: 2px solid #30110d;
    border-left: 2px solid #30110d;
}

.texto-lista-ordenada {
    padding-left: 50px;
    padding-right: 20px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2bc94;
    border-right: 2px solid #30110d;
    border-left: 2px solid #30110d;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

strong {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    color:black;
    font-size: larger;
    font-size: 20px;
}

ol li {
    padding-left: 5px;
    font-size: 25px;
    color: #722620;
    font-weight: 900;
}

ul li {
    padding-left: 5px;
    font-size: 25px;
    color: #722620;
    font-weight: 900;
}

.lista-ordenada {
    color: #30110d;
    font-size: 20px;
}

.lista-n-ordenada {
    padding-left: 50px;
    padding-right: 20px;
    text-align: justify;
    padding-top: 1px;
    padding-bottom: 10px;
    background-color: #f2bc94;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #30110d;
    border-right: 2px solid #30110d;
    border-left: 2px solid #30110d;
}

.config-lista-nordenada {
    padding-left: 35px;
}